html {
    border: 0rem;
}

body {
    text-align: center;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
    background-color: rgba(128, 128, 128, 0.473);
}

.navigation {
    padding: 1rem;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background-color: black;
    border-end-start-radius: 1rem;
}



#txt-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 30vh;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: bold;
    
    border-color: black;
    color: black;
    text-align: center;
    background-color: rgba(192, 191, 191, 0.473);
}

.button {
    text-align: center;
    margin-bottom: 1rem;

}

#btn-translate {
    text-align: center;
    align-items: center;
    border: 2rem;
    font-size: xx-large;
    margin: 2rem;
    background-color:red;
    color: white;
}

.statement {
    font-size: large;
    font-weight: bold;
    color:red;
    margin: 1rem;
}

#output {
    box-sizing: border-box;
    width: initial;
    min-height: 30vh;
    border: 1px solid black;
    color:black;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: x-large;
    font-weight: bold;

}



.footer {
    padding: 1rem;
    background: black;
    border-top-right-radius: 1rem;
}

.footer-heading {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.footer-para {
    font-size: large;
    font-weight: bold;
    color: white;
}