html {
    border: 0rem;
}

body {
    text-align: center;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url('dragon.jpg');
    background-size: contain;
    color: white;
}

.navigation {
    padding: 1rem;
    font-size: xx-large;
    font-weight: bold;
    color: black;
    background: white;
}



#txt-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 30vh;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    color:yellow;
    text-align: center;
}

.button {
    text-align: center;
    margin-bottom: 1rem;

}

#btn-translate {
    text-align: center;
    align-items: center;
    border: 2rem;
    font-size: xx-large;
    margin: 2rem;
    background-color: red;
    color: white;
}

.statement {
    font-size: large;
    font-weight: bold;
    color:red;
    margin: 1rem;
}

#output {
    box-sizing: border-box;
    width: initial;
    min-height: 30vh;
    border: 1px solid white;
    color:yellow;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: x-large;
    font-weight: bold;

}



.footer {
    padding: 1rem;
    background: white;
}

.footer-heading {
    font-size: xx-large;
    font-weight: bold;
    color: black;
}

.footer-para {
    font-size: large;
    font-weight: bold;
    color: black;
}